.btn-purple{
    background-color: rgb(149, 44, 149);
    color:white;
    text-decoration: none;
    border-radius: 4px;
    padding: 12px;
    transition: background-color,color ease-in 0.4s;
}
.btn-purple:hover{
    background-color: rgb(255, 108, 255);
    color: black;
}